body {
    padding-top: 5rem;


    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

.fa-input { font-family: FontAwesome, ‘Helvetica Neue’, Helvetica, Arial, sans-serif; }